.background-img {
    margin-top: -20px;
}

.perfil-img {
    height: 13rem;
    margin: 2vh;
}

.back-perfil{
    z-index: 1000;
    margin-top: -17vh;
    background-color: black;
    height: 40vh;
}

.back-circle{
    background-color: rgb(255, 255, 255);
    margin-top: -17vh;
}

.city-name{
    font-size: 5vh;
    font-weight: 700;
}

.person-name{
    font-size: 7vh;
    font-weight: 700;
}

.img-instrumeto{
    height: 18vh;
}