.home-background {
    margin-top: -30px;
  }
 .ConteudoPrincipal{
  background-image: url('/BackgroundSobreNos.png');
  background-size: cover;
  height: 1000px;
display: flex;
 }
 .SobreNos{
  display: flex;
  flex-direction: column;
width: 100%;
align-items: center;
 }
 .SobreNos h1{
  margin: 0;
  font-size: 40px;
 }



  .feature-icon {
    width: 80px;
    height: 80px;
  }
  